:host {
    background-color: #ECE8DE;
}

.hero-login {
    // background-color: blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 25px 0 15px 0;

    img {
        display: flex;
        width: 210px;
        margin-left: auto;
        margin-right: auto;
        // margin-bottom: 50px;
        // margin-top: 70px;
    }

    p {
        font-size: 14px;
        color: var(--subtitulo-color);
        margin: 4px 0 0 0;
    }
}

form {
    // background-color: red;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    // margin: 15px;
    // margin-bottom: 48px;

    .input-custom {
        --highlight-color-focused: #4f46e5; // color focus
    }

    /* label */
    .input-custom::part(label) {
        font-size: 13px;
        font-weight: 600;
        color: #6b7280;
        margin-bottom: 4px;
    }

    /* input text */
    .input-custom::part(native) {
        font-size: 15px;
    }

    ion-item:first-of-type {
        margin-top: 0px;
        border-style: none;
    }

    ion-item {
        margin-top: 8px;
        border-style: none;
        border-radius: 10px;
    }
}

.text-danger {
    margin: 10px 0 0 30px;
    font-size: 12px;
    color: red;
}

.botones {
    // background-color: aqua;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    align-items: center;

    ion-button {
        width: 40%;
        max-width: 280px;
        //font-size: 20px;
        --padding-top: 10px;
        --padding-bottom: 10px;
    }
}

.extra-login {
    // background-color: green;
    // margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    .separador {
        display: flex;
        align-items: center;
        width: 100%;
        max-width: 300px;
        color: var(--subtitulo-color);
        font-size: 13px;
        margin-bottom: 30px;

        hr {
            flex-grow: 1;
            border: none;
            border-top: 1px solid var(--subtitulo-color);
            margin: 0 8px;
        }

        span {
            white-space: nowrap;
        }
    }

    ion-button {
        width: 100%;
        max-width: 280px;
    }

    .registro-link {
        margin-top: 40px;
        font-size: 14px;
        color: var(--subtitulo-color);
        text-align: center;

        a {
            color: var(--ion-color-primary);
            text-decoration: none;
            font-weight: bold;
            cursor: pointer;
        }
    }
}