<ion-content [fullscreen]="true" class="ion-padding safe-area">
  <ion-progress-bar type="indeterminate" *ngIf="isLoading"></ion-progress-bar>


  <div class="ion-padding contenido-login">
    <div class="hero-login">
      <img src="assets/logo_lalo2.png" alt="">
    </div>
 
   
  </div>

  <form [formGroup]="miLogin" (submit)="login()">
    
    <ion-item lines="none">
      <ion-input type="email" class="input-custom" label="Correo" formControlName="email" name="email"
        label-placement="stacked" fill="solid" placeholder="example@mail.com" autocomplete="username"></ion-input>
    </ion-item>
    <span class="form-text text-danger" *ngIf="miLogin.get('email')?.invalid && miLogin.get('email')?.touched"> {{
      emailErrorMsg }} </span>
    <ion-item lines="none">

      <ion-input [type]="showPassword ? 'text' : 'password'" formControlName="password" name="password"
        label="Contraseña" label-placement="stacked" fill="solid" placeholder="Ingresar una contraseña"
        autocomplete="username"></ion-input>
      <ion-button fill="clear" slot="end" aria-label="Show/hide" (click)="togglePasswordVisibility()">
        <i class="fa-solid" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'">
        </i>
      </ion-button>
    </ion-item>
    <span class="form-text text-danger" *ngIf="miLogin.get('password')?.invalid && miLogin.get('password')?.touched">
      La contraseña es requerida </span>
    <div class="botones">
      <ion-button type="submit" [disabled]="miLogin.invalid || isLoading"
        [ngClass]="{'disabled': miLogin.invalid}">Entrar</ion-button>
    </div>
  </form>

  <div class="extra-login">
    <!-- <div class="seperador">
      <hr>
      <span>O Inicia Sesion Con</span>
    </div>
    <ion-button expand="block" fill="outline" color="dark"><ion-icon name="logo-google"></ion-icon> Acceder Con
      Google</ion-button>-->
    <p class="registro-link">
      No Tienes Cuenta? <a routerLink="/signup">Registrate Aqui</a>
    </p>
  </div>
   <br>
    <br>
     <br>
      
   <div class="ion-text-center">
      by <br> <img style="width: 200px;" src="assets/logo_hor_1.png" alt="">
    </div>
</ion-content>