<ion-content [fullscreen]="true" class="ion-padding">

  <div class="perfil-header ion-text-center">

    <div class="perfil-cotent">
      <ion-button slot="start"><ion-icon name="create-outline"></ion-icon></ion-button>
      <ion-avatar class="foto-perfil">
        <img src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-button slot="end"><ion-icon name="cog-outline"></ion-icon></ion-button>
    </div>

    <h2>{{ user?.name }} {{ user?.lastname }}</h2>

  </div>

  <ion-card class="card-select">

    <ion-list>

      <ion-item lines="none">
        <ion-label>Mis Eventos</ion-label>
      </ion-item>

      <ion-item lines="none" class="item-column">
        <ion-select aria-label="Seleccione Un Evento" placeholder="Seleccione Un Evento" value="1">
          <ion-select-option value="1">Fiesta Fernando</ion-select-option>
          <ion-select-option value="2">Fiesta Familia</ion-select-option>
          <ion-select-option value="3">Bautizo</ion-select-option>
          <ion-select-option value="4">Fiesta Año Nuevo</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>

  </ion-card>

</ion-content>