<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>bienvenida</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true" class="ion-padding">
  <swiper-container pagination="true" slides-per-view="1" space-between="20" style="height: 100%;">
    <swiper-slide>
      <div class="slide-content">
        <img src="../../../assets/evento.png" alt="evento" />
        <h2>¡Crea tu evento!</h2>
        <p>Organiza un album de tu cumpleaños, bodas o cualquier celebración fácilmente.</p>
      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="slide-content">
        <img src="../../../assets/camara.png" alt="invitados" />
        <h2>Invita a tus amigos</h2>
        <p>Comparte el enlace del evento con tus invitados.</p>
      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="slide-content">
        <img src="../../../assets/album.png" alt="fotos" />
        <h2>Recuerdos inolvidables</h2>
        <p>Tus invitados podrán subir fotos y compartir momentos especiales.</p>
        <div class="botones">
          <ion-button expand="block">Soy Inivitado</ion-button>
          <ion-button expand="block" fill="outline" color="medium" href="/signin">Iniciar Mi Evento</ion-button>
        </div>
      </div>
    </swiper-slide>
  </swiper-container>
</ion-content>