ion-tabs {

    // Personalización de la barra de pestañas (tab bar)
    ion-tab-bar {
        border-radius: 1rem 1rem 1rem 1rem;
        border: none;
        margin: 0 1rem;
        margin-bottom: env(safe-area-inset-bottom); // compatibilidad con móviles
        background: rgba(255, 255, 255, 0.95);
        // box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
        padding-bottom: 0.5rem;

        ion-tab-button {
          
            --background: transparent;
            --color: var(--ion-color-medium);
            --color-selected: var(--ion-color-primary);
            ion-icon {
                font-size: 1.7rem;
            }
        }
    }

    // FAB central encima de los tabs (botón tipo cámara, flotante)
    ion-fab {
          margin-bottom: 50px;
        ion-fab-button {
            // width: 60px;
            // height: 60px;
            border-radius: 50%;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
            // --background: linear-gradient(to bottom right, #C13584, #E1306C, #FD1D1D);
            --color: white;

            ion-icon {
                font-size: 2rem;
            }
        }
    }
}