<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ evento?.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ evento?.name }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Botón principal para crear evento -->
  <div class="button-group">
    <ion-button color="primary">
      <ion-icon name="qr-code-outline" slot="start"></ion-icon>
      Invitar
    </ion-button>
    <ion-button color="dark" fill="outline" (click)="abrirEditarEvento(evento)">
      <ion-icon name="settings"></ion-icon>
    </ion-button>
  </div>

  <ion-segment value="albums">
    <ion-segment-button value="albums" contentId="albums">
      <ion-icon name="albums"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="grid" contentId="grid">
      <ion-icon name="grid"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="heart" contentId="heart">
      <ion-icon name="heart"></ion-icon>
    </ion-segment-button>
  </ion-segment>

  <ion-segment-view>

    <ion-segment-content id="albums">

      <ion-card class="publicacion-card" *ngFor="let img of imagenes; let i = index">
        <ion-card-header class="publicacion-header">
          <ion-grid>
            <ion-row class="ion-align-items-center">
              <ion-col size="auto">
                <img
                  src="https://images.pexels.com/photos/14375833/pexels-photo-14375833.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                  alt="Foto perfil" class="foto-perfil">
              </ion-col>
              <ion-col>
                <ion-card-title>Jose Vega</ion-card-title>
                <p class="tiempo">Hace 2 minutos</p>
              </ion-col>
              <ion-col size="auto">
                <ion-button fill="clear" size="small" id="open-action-sheet">
                  <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-header>

        <img class="foto-publi" [src]="img" (click)="abrirGaleria(i)"
          alt="Foto publicación">

      </ion-card>

    </ion-segment-content>

    <ion-segment-content id="grid">

      <ion-grid [fixed]="true">
        <ion-row>
          <ion-col class="grid-foto" size="6" size-md="4" size-lg="2" *ngFor="let img of imagenes; let i = index">
            <ion-card class="card-grid-foto">
              <img [src]="img" alt="" (click)="abrirGaleria(i)">
              <ion-card-header class="overlay-inferior">
                <ion-grid>
                  <ion-row class="ion-align-items-center">
                    <ion-col size="auto">
                      <ion-card-title>Jose Vega</ion-card-title>
                    </ion-col>
                    <ion-col size="auto">
                      <ion-button fill="clear" size="small" id="open-action-sheet">
                        <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
                      </ion-button>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-header>
            </ion-card>
          </ion-col>

        </ion-row>
      </ion-grid>

    </ion-segment-content>

    <ion-segment-content id="heart">

      <ion-list class="lista-publi">

        <ion-item lines="none">
          <ion-avatar aria-hidden="true" slot="start">
            <img alt="" src="https://images.pexels.com/photos/14375833/pexels-photo-14375833.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" />
          </ion-avatar>
          <ion-label>Jose Juan <p>Ha Subido Una Foto</p></ion-label>
          <img class="foto-publi" alt="" src="https://media.sproutsocial.com/uploads/2022/06/profile-picture.jpeg"/>
        </ion-item>

        <ion-item lines="none">
          <ion-avatar aria-hidden="true" slot="start">
            <img alt="" src="https://images.pexels.com/photos/14375833/pexels-photo-14375833.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" />
          </ion-avatar>
          <ion-label>Jose Juan <p>Ha Subido Una Foto</p></ion-label>
          <img class="foto-publi" alt="" src="https://media.sproutsocial.com/uploads/2022/06/profile-picture.jpeg"/>
        </ion-item>

        <ion-item lines="none">
          <ion-avatar aria-hidden="true" slot="start">
            <img alt="" src="https://images.pexels.com/photos/14375833/pexels-photo-14375833.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" />
          </ion-avatar>
          <ion-label>Jose Juan <p>Ha Subido Una Foto</p></ion-label>
          <img class="foto-publi" alt="" src="https://media.sproutsocial.com/uploads/2022/06/profile-picture.jpeg"/>
        </ion-item>

        <ion-item lines="none">
          <ion-avatar aria-hidden="true" slot="start">
            <img alt="" src="https://images.pexels.com/photos/14375833/pexels-photo-14375833.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" />
          </ion-avatar>
          <ion-label>Jose Juan <p>Ha Subido Una Foto</p></ion-label>
          <img class="foto-publi" alt="" src="https://media.sproutsocial.com/uploads/2022/06/profile-picture.jpeg"/>
        </ion-item>

      </ion-list>

    </ion-segment-content>

  </ion-segment-view>


  <ion-action-sheet trigger="open-action-sheet" header="Acciones" [buttons]="actionSheetButtons"></ion-action-sheet>

</ion-content>