<ion-content class="ion-padding safe-area" [fullscreen]="true">
  <app-loader [visible]="isLoading" mensaje="Cargando Evento..."></app-loader>

  <ion-header class="ion-no-border">
    <ion-toolbar class="toolbar-header">
      <ion-buttons slot="start">
        <ion-back-button default-href="/" text=""></ion-back-button>
      </ion-buttons>
      <ion-title>{{ evento?.name }}</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-card class="card-evento">

    @if(evento?.img){
    <img alt="{{ evento?.name }}" src="https://ionicframework.com/docs/img/demos/card-media.png" />
    }

    <ion-card-content>

      <!-- boton principal para crear evento -->
      <ion-card-header>
        <div class="datos-evento">
          <ion-card-title>{{ evento?.event_date | date:'mediumDate' }} - 8 PM</ion-card-title>
          <ion-card-subtitle><i class="fa-solid fa-location-dot"></i> Casa</ion-card-subtitle>
        </div>
        <div class="button-group">
          <ion-button color="primary" id="open-modal" fill="outline" size="small">
            <i class="fa-solid fa-qrcode"></i>
            Invitar
          </ion-button>
          <!-- @if(this.evento?.user?.id === this.user?.id) {
          <ion-button color="dark" fill="outline" (click)="abrirEditarEvento(evento)" size="small">
            <i class="fa-solid fa-gear"></i>
          </ion-button>
          } -->
        </div>
      </ion-card-header>

      <ion-segment value="gruest">
        <ion-segment-button value="albums" contentId="albums">
          <i class="fa-solid fa-images"></i>
        </ion-segment-button>
        <ion-segment-button value="grid" contentId="grid">
          <i class="fa-solid fa-border-all"></i>
        </ion-segment-button>
        <ion-segment-button value="gruest" contentId="gruest">
          <i class="fa-solid fa-user">
            <p>{{guests?.length}}</p>
          </i>
        </ion-segment-button>
      </ion-segment>

      <ion-segment-view>

        <ion-segment-content id="albums">

          <ion-card class="publicacion-card" *ngFor="let img of eventoPhoto; let i = index">
            <ion-card-header class="publicacion-header">
              <ion-grid>
                <ion-row class="ion-align-items-center">
                  <ion-col size="auto">
                    <img
                      src="https://images.pexels.com/photos/14375833/pexels-photo-14375833.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                      alt="Foto perfil" class="foto-perfil">
                  </ion-col>
                  <ion-col>
                    <ion-card-title>{{ img.user?.name }}</ion-card-title>
                    <!-- <p class="tiempo">Hace 2 minutos</p> -->
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-header>

            <img class="foto-publi" [src]="baseUrl + img.thumbnail_path" (click)="abrirGaleria(i)"
              alt="Foto publicación">

          </ion-card>

        </ion-segment-content>

        <ion-segment-content id="grid">

          <div class="container-grid">
            <div class="cartas-grid">
              <ion-card class="card-grid-foto" *ngFor="let img of eventoPhoto; let i = index">
                <img [src]="baseUrl + img.thumbnail_path" alt="" (click)="abrirGaleria(i)">
              </ion-card>
            </div>
          </div>

        </ion-segment-content>

        <ion-segment-content id="gruest">

          <ion-list class="lista-publi">
            <!-- <ion-item lines="none" *ngFor="let invitado of guests">
            </ion-item> -->

            @if(this.guests.length === 0){
            <ion-item-sliding>
              <ion-item [button]="true">
                <ion-avatar aria-hidden="true" slot="start">
                  <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
                </ion-avatar>
                <ion-label>Rick Astley</ion-label>
                <ion-note slot="end">
                  <ion-chip>
                    <i class="fa-solid fa-image"></i>
                    <ion-label>2</ion-label>
                  </ion-chip>
                </ion-note>
              </ion-item>

              <ion-item-options slot="end">
                <ion-item-option color="danger" expandable="true">
                  <i class="fa-solid fa-trash"></i>
                </ion-item-option>
              </ion-item-options>
            </ion-item-sliding>
            } @else {
            <ion-item lines="none">
              <ion-label>No hay invitados</ion-label>
            </ion-item>
            }

          </ion-list>

        </ion-segment-content>

      </ion-segment-view>

    </ion-card-content>
  </ion-card>


  <ion-modal #modal trigger="open-modal" cssClass="evento-qr-modal" [initialBreakpoint]="0.5" [breakpoints]="[0, 0.25, 0.5, 0.6]">
    <ng-template>
      <ion-content class="content-modal">
        <h2>QR</h2>
        <!-- <img [src]="baseUrl + evento?.qr_payload" alt="" class="qr-code"> -->
        <img [src]="baseUrl + evento?.qr_code_path" alt="" class="qr-code">

        <p>Para unirte a este evento, escanee el código QR o ingrese el siguiente codigo:</p>
        <h2>{{ evento?.id }}</h2>
        <!-- <ion-text color="primary">
          <a href="https://pueblosmagicoshidalgo2025.com.mx/photos/public/events/{{ evento?.id }}">
            https://pueblosmagicoshidalgo2025.com.mx/photos/public/events/{{ evento?.id }}
          </a>
        </ion-text> -->

      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>