.button-group {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

ion-segment {
    margin: 15px 0;
}

.publicacion-card {
    margin: 12px 0;
    // border-radius: 12px;
    // overflow: hidden;
    // box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);

    .publicacion-header {
        padding: 8px 0px;

        ion-grid {
            margin: 0;
        }
    }

    .foto-perfil {
        width: 42px;
        height: 42px;
        border-radius: 50%;
        object-fit: cover;
    }

    .tiempo {
        font-size: 12px;
        color: #999;
        margin: 2px 0 0;
    }

    .foto-publi {
        width: 100%;
        height: 300px;
        object-fit: cover;
        display: block;
    }
}


.grid-foto {
    margin: 0;

    .card-grid-foto {
        margin: 0;

        position: relative;
        overflow: hidden;

        img {
            width: 100%;
            height: 200px;
            object-fit: cover;
            display: block;
        }

        .overlay-inferior {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            background: rgba(180, 179, 179, 0.5); // semitransparente
            color: white;
            padding: 0 1px;
            // z-index: 2;

            ion-card-title {
                color: white;
                font-size: 14px;
                margin: 0;
            }

            ion-button {
                color: white;
            }
        }
    }
}

.lista-publi {
    ion-item {
        .foto-publi {
            width: 50px;
            height: 50px;
            object-fit: cover;
            display: block;
        }
    }
}

.content-modal {
    display: flex;
    background-color: red;

    .qr-code {
        margin: auto 0;
        max-width: 100%;
        height: auto;
    }
}