:host {
    background-color: #ECE8DE;
}

.hero-login {
    // background-color: blue;
    display: flex;
    flex-direction: column;
    margin: 58px 0 38px 0;

    h1 {
        font-size: 30px;
        font-weight: bold;
        color: var(--subtitulo-color);
        margin: 4px 0 0 0;
    }
}
.close-modal {
    position: absolute;
    top: 12px;
    right: 12px;
    z-index: 10;
}

form {
    // background-color: red;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    // margin: 15px;
    // margin-bottom: 48px;

    ::ng-deep ion-input {
        label {
            .label-text-wrapper {
                font-size: 24px;
                font-weight: bold;
                color: #000000;
                margin: 0 0 10px 0;
            }
        }
    }

    ion-grid {
        padding: 0;

        ion-col {
            padding-left: 0;
            padding-right: 0;
        }
    }

    ion-item:first-of-type {
        margin-top: 0px;
        border-style: none;
    }

    ion-item {
        margin-top: 8px;
        border-style: none;
        border-radius: 10px;
    }
}

.text-danger {
    margin: 10px 0 0 30px;
    font-size: 12px;
    color: red;
}

.botones {
    // background-color: aqua;
    display: flex;
    flex-direction: column;
    margin-top: 86px;
    align-items: center;

    ion-button {
        width: 40%;
        max-width: 280px;
        //font-size: 20px;
        --padding-top: 10px;
        --padding-bottom: 10px;
    }
}

.extra-login {
    // background-color: green;
    // margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    .separador {
        display: flex;
        align-items: center;
        width: 100%;
        max-width: 300px;
        color: var(--subtitulo-color);
        font-size: 13px;
        margin-bottom: 30px;

        hr {
            flex-grow: 1;
            border: none;
            border-top: 1px solid var(--subtitulo-color);
            margin: 0 8px;
        }

        span {
            white-space: nowrap;
        }
    }

    ion-button {
        width: 100%;
        max-width: 280px;
    }

    .registro-link {
        margin-top: 40px;
        font-size: 14px;
        color: var(--subtitulo-color);
        text-align: center;

        a {
            color: var(--ion-color-primary);
            text-decoration: none;
            font-weight: bold;
            cursor: pointer;
        }
    }
}