<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button default-href="/" text=""></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding contenido-login">
    <div class="hero-login">
      <img class="logo"
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRwJW5HSsd9Pzs5n7AqpHuRpEUaDGtwOeIoRA&s" alt="">
      <p>By Enformobile</p>
    </div>
  </div>

  <form [formGroup]="miRegister" (submit)="registrar()">
    <ion-item lines="none">
      <ion-input label="Nombre" label-placement="floating" fill="solid" placeholder="Nombre" formControlName="name"
        name="name"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-input label="Apellidos" label-placement="floating" fill="solid" placeholder="Apellidos"
        formControlName="lastname" name="lastname"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-input label="Telefono" label-placement="floating" fill="solid" type="tel" placeholder="888-888-8888" formControlName="phone" name="phone"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-input label="Correo" label-placement="floating" fill="solid" placeholder="Correo" formControlName="email"
        name="email"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-input label="Contraseña" label-placement="floating" fill="solid" placeholder="Contraseña"
        formControlName="password" name="password"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-input label="Confirma Contraseña" label-placement="floating" fill="solid" placeholder="Confirma Contraseña"
        formControlName="password_confirmation" name="password_confirmation"></ion-input>
    </ion-item>
    <div class="botones">
      <ion-button type="submit">Registrar</ion-button>
    </div>
  </form>

  <div class="extra-login">
    <div class="seperador">
      <hr>
      <span>O Registrate Con</span>
    </div>
    <ion-button expand="block" fill="outline" color="dark">Acceder Con Google</ion-button>
    <p class="registro-link">
      Ya Tienes Cuenta? <a href="/signin">Inicia Sesion Aqui</a>
    </p>
  </div>

</ion-content>