<ion-content [fullscreen]="true" class="ion-padding">
  <!-- Bienvenida -->
  <ion-card class="bienvenida-card">
    <ion-card-header>
      <ion-card-title>Hola, Fernando! 🎉</ion-card-title>
      <!-- <ion-card-subtitle>Bienvenido a tus eventos</ion-card-subtitle> -->
    </ion-card-header>
    <ion-card-content>
      Aqui puedes ver el resumen de tu proximo evento.
    </ion-card-content>
  </ion-card>

  <!-- Botón principal para crear evento -->
  <div>
    <ion-button color="primary">
      <ion-icon name="add-circle" slot="start"></ion-icon>
      Crear nuevo evento
    </ion-button>
    <ion-button color="dark" fill="outline">
      <ion-icon name="qr-code-outline" slot="start"></ion-icon>
      Entrar a evento
    </ion-button>
  </div>

  <!-- carta de proximo evento -->
  <ion-card class="evento-card" href="tabs/evento"
    style="--img-url: url('https://img.freepik.com/vector-gratis/concepto-letras-feliz-cumpleanos_23-2148499329.jpg?semt=ais_hybrid&w=740')">
    <div class="fondo-evento"></div>
    <div class="contenido-evento">
      <ion-card-header>
        <ion-card-title>Fiesta de Fernando</ion-card-title>
        <ion-card-subtitle>Proximo Evento</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-item lines="none">
          <ion-icon name="calendar" slot="start"></ion-icon>
          <ion-label>30 de Junio, 8:00 PM</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-icon name="location" slot="start"></ion-icon>
          <ion-label>Salón Las Rosas</ion-label>
        </ion-item>
        <ion-chip color="tertiary">
          <ion-icon name="people"></ion-icon>
          <ion-label>8 invitados</ion-label>
        </ion-chip>
      </ion-card-content>
    </div>
  </ion-card>

  <!-- carrusel mis evetos -->
  <div class="mis-eventos">
    <h2 class="ion-margin-top">Mis eventos</h2>
    <swiper-container slides-per-view="1" space-between="20">
      <swiper-slide>
        <ion-card class="evento-card" href="tabs/evento"
          style="--img-url: url('https://img.freepik.com/vector-gratis/concepto-letras-feliz-cumpleanos_23-2148499329.jpg?semt=ais_hybrid&w=740')">
          <div class="fondo-evento"></div>
          <div class="contenido-evento">
            <ion-card-header>
              <ion-card-title>Fiesta de Fernando</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-item lines="none">
                <ion-icon name="calendar" slot="start"></ion-icon>
                <ion-label>30 de Junio, 8:00 PM</ion-label>
              </ion-item>
              <ion-item lines="none">
                <ion-icon name="location" slot="start"></ion-icon>
                <ion-label>Salón Las Rosas</ion-label>
              </ion-item>

              <ion-chip color="primary">
                <ion-icon name="camera"></ion-icon>
                <ion-label>12 fotos</ion-label>
              </ion-chip>
              <ion-chip color="tertiary">
                <ion-icon name="people"></ion-icon>
                <ion-label>8 invitados</ion-label>
              </ion-chip>
            </ion-card-content>
          </div>
        </ion-card>
      </swiper-slide>

      <swiper-slide>
        <ion-card class="evento-card" href="tabs/evento"
          style="--img-url: url('https://villacdn.villagroupresorts.com/uploads/photo/image/12283/new_year_puerto_vallarta.jpg')">
          <div class="fondo-evento"></div>
          <div class="contenido-evento">
            <ion-card-header>
              <ion-card-title>Fiesta año nuevo</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-item lines="none">
                <ion-icon name="calendar" slot="start"></ion-icon>
                <ion-label>31 de Diciembre, 8:00 PM</ion-label>
              </ion-item>
              <ion-item lines="none">
                <ion-icon name="location" slot="start"></ion-icon>
                <ion-label>Casa De Papá Che</ion-label>
              </ion-item>

              <ion-chip color="primary">
                <ion-icon name="camera"></ion-icon>
                <ion-label>10 fotos</ion-label>
              </ion-chip>
              <ion-chip color="tertiary">
                <ion-icon name="people"></ion-icon>
                <ion-label>20 invitados</ion-label>
              </ion-chip>
            </ion-card-content>
          </div>
        </ion-card>
      </swiper-slide>
    </swiper-container>
  </div>

  <h2>Recuerdos recientes</h2>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-img src="https://picsum.photos/300/200?random=1"></ion-img>
      </ion-col>
      <ion-col size="6">
        <ion-img src="https://picsum.photos/300/200?random=2"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>