// .bienvenida-card {
//     background: linear-gradient(to right, #fceabb, #f8b500);
//     color: #333;
//     border-radius: 16px;
// }

.safe-area {
    --padding-top: calc(var(--ion-safe-area-top, 0px) + 8px);
}

.button-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 18.5px;

    ion-button {
        width: 50%;
        font-size: 18px;
    }
}

.mis-eventos,
.prox-evento {

    h1 {
        font-size: 32px;
        margin: 0 18.5px 0 18.5px;
    }

    .foto-event {
        width: 100%;
        height: 200px;
        object-fit: cover;
        display: block;
    }

    .contenido-evento {

        ion-card-header {
            display: flex;
            flex-direction: column;
            padding: 20px 20px 16px 20px;
        }

        ion-card-title {
            // font-size: 1.4rem;
            font-size: 26px;
            color: #000000;
        }

        ion-card-subtitle {
            font-size: 16px;
            color: #000000;
        }

        ion-card-content {
            margin: 0px;
            display: flex;
            justify-content: flex-end;
            padding-bottom: 8px;

            ion-chip {
                font-size: 18px;
                padding: 0;
                --background: transparent;
                --color: #000000;
            }
        }

    }
}