<ion-content [fullscreen]="true" class="safe-area">
  <app-loader [visible]="isLoading" mensaje="Cargando..."></app-loader>
  <!-- Bienvenida -->
  <ion-card class="bienvenida-card">
    <ion-card-header>
      <ion-card-title>Hola, {{ user?.name }}! 🎉</ion-card-title>
      <!-- <ion-card-subtitle>Bienvenido a tus eventos</ion-card-subtitle> -->
    </ion-card-header>
    <ion-card-content>
      Aqui puedes ver el resumen de tu proximo evento.
    </ion-card-content>
  </ion-card>

  <!-- boton principal para crear evento -->
  <div class="button-group">
    <ion-button color="primary" (click)="abrirCrearEvento()" [disabled]="hasActiveEvent()">
      <i class="fa-solid fa-plus"></i>
      Crear evento
    </ion-button>
    <ion-button color="dark" fill="outline" (click)="abrirScanner()">
      <!-- <ion-button color="dark" fill="outline" id="alert-evento"> -->
      <i class="fa-solid fa-qrcode"></i>
      Entrar
    </ion-button>
  </div>

  <!-- carrusel mis evetos -->
  <div class="mis-eventos">
    <h1 class="ion-margin-top">Mis Eventos</h1>

    @if (eventos?.length) {
      @for (item of eventos; track $index) {
        <ion-card class="evento-card" (click)="abrirEvento(item)">
            @if(item?.cover_image_path){
              <ion-img class="foto-event" [src]="getCoverImage(item)" alt="{{ item.name }}"></ion-img>
            }
          <div class="contenido-evento">
            <ion-card-header>
              <ion-card-title> {{ item.name }} </ion-card-title>
              <ion-card-subtitle>{{ item.event_date | date:'mediumDate' }} - {{ item.event_date | date:'h:mm a' }}</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <ion-chip>
                <i class="fa-solid fa-image"></i>
                <ion-label>{{ item.max_photos_per_guest }}</ion-label>
              </ion-chip>
              <ion-chip>
                <i class="fa-solid fa-user"></i>
                <ion-label>{{ item.total_guests }}</ion-label>
              </ion-chip>
            </ion-card-content>
          </div>
        </ion-card>
      }
    } @else {
      <ion-card class="publicacion-card placeholder-card">
        <ion-card-header class="publicacion-header">
          <ion-card-title>No hay eventos</ion-card-title>
        </ion-card-header>
        
      </ion-card>
    }

  </div>
</ion-content>
