.modal-content {
    --background: #f4f5f8;
    display: flex;
    flex-direction: column;
}

.title-section {
    text-align: center;
    padding: 20px 16px 10px;
}

.title-section .icon {
    font-size: 48px;
    color: var(--ion-color-primary);
    margin-bottom: 8px;
}

.title-section h2 {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}

.title-section p {
    font-size: 14px;
    color: #666;
    margin-top: 4px;
}

.title-section .evento-nombre {
    font-size: 11px;
    color: #666;
    margin-top: 4px;
}

.img-container {
    width: 100%;
    margin-top: 10px;
    padding: 12px;
}

.img-container ion-img {
    width: 100%;
    border-radius: 12px;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);
}