<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cerrar()">Cancelar</ion-button>
    </ion-buttons>
    <ion-title>Guardar Foto</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="guardar()" [strong]="true">Guardar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="title-section">
    <i class="fa-solid fa-camera icon"></i>
    <h2>¿Deseas guardar esta foto?</h2>
    <p>Se añadirá al evento seleccionado.</p>
    <p class="evento-nombre">Evento: {{ eventoNombre }}</p>
  </div>

  <div class="img-container">
    <ion-img [src]="photo?.webviewPath"></ion-img>
  </div>
</ion-content>