.galeria-modal {
  --background: black;

  .imagen-full {
    width: 100%;
    height: 100vh;
    object-fit: contain;
  }

  .btngruop {
    position: absolute;
    top: 20px;
    z-index: 99;
  }
  .cerrar-btn {
    color: white;
  }
}
